.section * {
  margin-right: 16px;
  align-self: flex-start;
}

.button {
  background-color: rgb(66,66,66);
  border: none;
  color: white;
  padding: 10px 18px;
}

.button:hover {
  background-color: rgb(20,20,20);
}

.button:active {
  background-color: rgb(66,66,66);
}
